In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [3]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

# 1 Sample()

In [90]:
# extract 10 ranom elements from the "nationality" column 

import random
import numpy as np

df['nationality'].sample(10, random_state=99)

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [98]:
# extranct a random 20%  sample of the dataframe

df.sample(frac=0.2, random_state=12)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Y. Thoelen,Yannick Thoelen,28,1990-07-18,188,89,Belgium,KV Mechelen
M. Nadé,Mickaël Nadé,20,1999-03-04,188,80,France,AS Saint-Étienne
V. García,Víctor Hugo García Hernández,25,1994-06-11,178,71,Venezuela,Vitória Guimarães
M. Gyamfi,Maxwell Gyamfi,19,2000-01-18,185,75,Germany,VfL Bochum 1848
W. Cyprien,Wylan Cyprien,24,1995-01-28,180,75,France,OGC Nice
...,...,...,...,...,...,...,...
H. Kadish,Hassan Kadish,26,1992-09-26,179,73,Saudi Arabia,Al Hilal
A. Chapman,Aaron Chapman,29,1990-05-29,203,92,England,Peterborough United
I. Ezekiel,Imoh Ezekiel,25,1993-10-24,178,70,Nigeria,KV Kortrijk
H. Sakai,酒井 宏樹,29,1990-04-12,183,70,Japan,Olympique de Marseille
C. Keșerü,Claudiu Andrei Keșerü,32,1986-12-02,178,71,Romania,Romania

In [107]:
# upsample: increase the sampling rate -> frac>1 

df.sample(frac=2, replace=True, random_state=34) #doubles the number of rows

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Maak,Matthias Maak,27,1992-05-12,191,87,Austria,SCR Altach
H. Campagnaro,Hugo Armando Campagnaro,39,1980-06-27,181,85,Argentina,Pescara
S. Luchin,Srgian Luchin,33,1986-03-04,185,82,Romania,FC Hermannstadt
M. Aguirregaray,Matías Aguirregaray Guruceaga,30,1989-04-01,177,78,Uruguay,Al Fateh
Jiang Wenjun,姜文骏,29,1990-01-30,180,74,China PR,Hebei China Fortune FC
...,...,...,...,...,...,...,...
Y. Begraoui,Yanis Begraoui,17,2001-07-04,175,62,France,AJ Auxerre
S. Karakoç,Samed Karakoç,22,1997-06-30,170,67,Turkey,Fenerbahçe SK
A. Luković,Andrija Luković,24,1994-10-24,189,79,Serbia,Raków Częstochowa
P. Hosiner,Philipp Hosiner,30,1989-05-15,179,72,Austria,SK Sturm Graz
T. Melia,Tim Melia,33,1986-05-15,185,86,United States,Sporting Kansas City