In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [5]:
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

# 1 apply()

In [7]:
# use numpy function and apply it to series
import numpy as np

df['age'].apply(np.sqrt)

short_name
L. Messi             5.656854
Cristiano Ronaldo    5.830952
Neymar Jr            5.196152
J. Oblak             5.099020
E. Hazard            5.291503
                       ...
Shao Shuai           4.690416
Xiao Mingjie         4.690416
Zhang Wei            4.358899
Wang Haijian         4.242641
Pan Ximing           5.099020
Name: age, Length: 18278, dtype: float64

In [17]:
# create your own function and plly it to dataframe

# bmi = weight / (height)^2

def calculate_bmi(row):
    return row['weight_kg'] / (row['height_cm']/100)**2

df['bmi']=df.apply(calculate_bmi, axis=1)

df

,long_name,age,dob,height_cm,weight_kg,nationality,club,bmi
short_name,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,24.913495
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,23.735308
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,22.204082
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,24.615211
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,24.163265
...,...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,22.835010
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,21.066743
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,21.678807
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,21.621622
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,23.547881