In [1]:
import pandas as pd

# 1 Read a .csv from a URL with Pandas

website for the data: https://www.football-data.co.uk/data.php

In [2]:
# reading 1 csv file from the website

df_premier21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv')

In [3]:
df_premier21.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [4]:
# rename columns

df_premier21.rename(columns={'FTHG':'home_goals',
                             'FTAG':'away_goals'}, inplace=True)

In [5]:
df_premier21.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

# 2 Read .csv from Multiple URLs with Pandas

Link: root +season + league

In [6]:
# link structure

"https://www.football-data.co.uk/mmz4281/" + "2122" + "/" + "E0.csv"

'https://www.football-data.co.uk/mmz4281/2122/E0.csv'

In [7]:
# create a root variable

root = "https://www.football-data.co.uk/mmz4281/"

# 2.1 Multiple leagues
https://www.football-data.co.uk/mmz4281/2122/E0.csv
https://www.football-data.co.uk/mmz4281/2021/E1.csv
https://www.football-data.co.uk/mmz4281/2021/E2.csv
https://www.football-data.co.uk/mmz4281/2021/E3.csv
https://www.football-data.co.uk/mmz4281/2021/EC.csv

In [8]:
# create list of leagues

leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []
#looping through leagues, read multiple csv and append it to it

for league in leagues:
    df =  pd.read_csv(root + '2122' + '/' + league + '.csv', encoding = 'unicode_escape')
    frames.append(df)

In [9]:
# length of frames
len(frames)

5

In [10]:
# show 1st, 2nd and 3rd element

frames[3]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,07/08/2021,15:00,Carlisle,Colchester,0,0,D,0,0,...,1.57,-0.25,1.75,2.05,1.78,2.13,1.82,2.13,1.75,2.08
1,E3,07/08/2021,15:00,Exeter,Bradford,0,0,D,0,0,...,1.65,0.00,1.80,2.05,1.79,2.12,1.87,2.12,1.80,2.03
2,E3,07/08/2021,15:00,Forest Green,Sutton,2,1,H,1,0,...,1.60,-0.25,1.98,1.83,1.93,1.95,2.03,1.99,1.91,1.90
3,E3,07/08/2021,15:00,Harrogate,Rochdale,3,2,H,2,1,...,1.78,-0.25,1.90,1.95,1.90,1.98,1.94,1.98,1.88,1.94
4,E3,07/08/2021,15:00,Hartlepool,Crawley Town,1,0,H,0,0,...,1.68,-0.25,1.90,1.95,1.93,1.95,1.96,1.98,1.90,1.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,07/05/2022,15:00,Mansfield,Forest Green,2,2,D,1,0,...,2.07,-0.25,1.80,2.05,1.84,2.06,1.91,2.06,1.85,1.97
548,E3,07/05/2022,15:00,Newport County,Rochdale,0,2,A,0,1,...,2.21,-0.50,1.88,1.98,1.88,2.02,1.96,2.02,1.90,1.91
549,E3,07/05/2022,15:00,Oldham,Crawley Town,3,3,D,2,2,...,2.30,0.00,1.90,1.95,1.89,2.00,1.99,2.02,1.91,1.91
550,E3,07/05/2022,15:00,Stevenage,Salford,4,2,H,2,1,...,2.01,0.00,1.85,2.00,1.88,2.01,1.97,2.04,1.89,1.92
551,E3,07/05/2022,15:00,Walsall,Swindon,0,3,A,0,3,...,2.07,0.75,1.98,1.88,1.97,1.92,2.02,1.98,1.91,1.91

## 2.2 Multiple Seasons

In [11]:
for season in range(15,21):
    print(str(season) + str(season + 1))

1516
1617
1718
1819
1920
2021

In [12]:
# creating list of leagues
leagues = ['E0', 'E2', 'E3']
frames = []

#loop through range of seasons and insert new column

for league in leagues:
    for season in range(15, 21):
        df =  pd.read_csv(root + '2122' + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [13]:
len(frames)

18

In [14]:
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,07/08/2021,15:00,Carlisle,Colchester,0,0,D,0,...,1.57,-0.25,1.75,2.05,1.78,2.13,1.82,2.13,1.75,2.08
1,E3,20,07/08/2021,15:00,Exeter,Bradford,0,0,D,0,...,1.65,0.00,1.80,2.05,1.79,2.12,1.87,2.12,1.80,2.03
2,E3,20,07/08/2021,15:00,Forest Green,Sutton,2,1,H,1,...,1.60,-0.25,1.98,1.83,1.93,1.95,2.03,1.99,1.91,1.90
3,E3,20,07/08/2021,15:00,Harrogate,Rochdale,3,2,H,2,...,1.78,-0.25,1.90,1.95,1.90,1.98,1.94,1.98,1.88,1.94
4,E3,20,07/08/2021,15:00,Hartlepool,Crawley Town,1,0,H,0,...,1.68,-0.25,1.90,1.95,1.93,1.95,1.96,1.98,1.90,1.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,20,07/05/2022,15:00,Mansfield,Forest Green,2,2,D,1,...,2.07,-0.25,1.80,2.05,1.84,2.06,1.91,2.06,1.85,1.97
548,E3,20,07/05/2022,15:00,Newport County,Rochdale,0,2,A,0,...,2.21,-0.50,1.88,1.98,1.88,2.02,1.96,2.02,1.90,1.91
549,E3,20,07/05/2022,15:00,Oldham,Crawley Town,3,3,D,2,...,2.30,0.00,1.90,1.95,1.89,2.00,1.99,2.02,1.91,1.91
550,E3,20,07/05/2022,15:00,Stevenage,Salford,4,2,H,2,...,2.01,0.00,1.85,2.00,1.88,2.01,1.97,2.04,1.89,1.92
551,E3,20,07/05/2022,15:00,Walsall,Swindon,0,3,A,0,...,2.07,0.75,1.98,1.88,1.97,1.92,2.02,1.98,1.91,1.91

# 3 Organize All the Data in a Dictionary

In [15]:
# create a dictionary with original name of league as key

dict_countries = {
            'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
            'German Bundesliga':'D1',
            'English Premier league':'E0',
            'English league 1':'E2',
            'English league 2':'E3'
}

In [16]:
dict_countries.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier league', 'English league 1', 'English league 2'])

In [17]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2
E3

In [18]:

dict_historical_data = {}


for league in dict_countries:
    frames = []
    for season in range(15, 21):
        df =  pd.read_csv(root + '2122' + '/' + dict_countries[league] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [20]:
dict_historical_data['English Premier league']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,15,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,15,14/08/2021,12:30,Man United,Leeds,5,1,H,1,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,15,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,15,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,15,14/08/2021,15:00,Everton,Southampton,3,1,H,0,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,20,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,20,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,20,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,20,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,20,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89