In [4]:
import pandas as pd

In [5]:
states = ['Tamil Nadu', 'Kerala', 'Goa', 'Manipur']
population = [23234222, 45686764, 3445664, 33434554]
dict_state = {'States':states, 'Population': population}
df = pd.DataFrame(dict_state)
df

       States  Population
0  Tamil Nadu    23234222
1      Kerala    45686764
2         Goa     3445664
3     Manipur    33434554

# 1. Python Basics

## 1.1. Strings methods

In [6]:
type(123)

int

In [7]:
"Hello world".upper()

'HELLO WORLD'

In [8]:
"Hello world".lower()

'hello world'

In [9]:
"hello world".capitalize()

'Hello world'

In [10]:
"hello world".title()

'Hello World'

In [11]:
print("Hello world".lower(), "Hello world".upper(), "hello world".capitalize(), "hello world".title())

hello world HELLO WORLD Hello world Hello World

In [12]:
"Hello world".count("l")

3

In [13]:
"Hello world".replace("l", "L")

'HeLLo worLd'

## 1.2 Variables

In [14]:
msg_1 = "Hello world!"
msg_2 = "It's a wonderful day."
f'{msg_1} {msg_2}'

"Hello world! It's a wonderful day."

## 1.3 List

In [15]:
countries = ['US', 'India', 'Japan', 'China', 'Brazil']

In [16]:
countries

['US', 'India', 'Japan', 'China', 'Brazil']

In [17]:
countries[0]
countries[-1]

'Brazil'

In [18]:
countries[0:2]

['US', 'India']

In [19]:
countries.append('Argentina')

In [20]:
countries

['US', 'India', 'Japan', 'China', 'Brazil', 'Argentina']

In [21]:
countries.insert(1, 'Uganda')

In [22]:
countries

['US', 'Uganda', 'India', 'Japan', 'China', 'Brazil', 'Argentina']

In [23]:
eu_countries = ["UK", "Italy", "Spain", "Germany", "Austria", "France", "Hungary", "Poland"]

countries + eu_countries

['US',
 'Uganda',
 'India',
 'Japan',
 'China',
 'Brazil',
 'Argentina',
 'UK',
 'Italy',
 'Spain',
 'Germany',
 'Austria',
 'France',
 'Hungary',
 'Poland']

In [24]:
nested_list = [countries, eu_countries]
nested_list

[['US', 'Uganda', 'India', 'Japan', 'China', 'Brazil', 'Argentina'],
 ['UK', 'Italy', 'Spain', 'Germany', 'Austria', 'France', 'Hungary', 'Poland']]

In [25]:
#remove

countries.remove("US")
countries

['Uganda', 'India', 'Japan', 'China', 'Brazil', 'Argentina']

In [26]:
nested_list.pop([0][0])

['Uganda', 'India', 'Japan', 'China', 'Brazil', 'Argentina']

## 1.4 Sorting

In [33]:
numbers = [4,3,56,78,5,3,2,5,8,13,4,67,7,5,4,3,2,4,5,7,8,2,3,4,5,6,7,7,4,3,2,1,3,3,23,5456,6,5,34,34,56,7,7,5467,347,3]

In [34]:
numbers.sort(reverse = True)

In [35]:
print(numbers, end ='')

[5467, 5456, 347, 78, 67, 56, 56, 34, 34, 23, 13, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 1]

In [36]:
numbers.sort(reverse = False)

In [38]:
print(numbers, end = '')

[1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 13, 23, 34, 34, 56, 56, 67, 78, 347, 5456, 5467]

## 1.5 Update

In [39]:
numbers[0] = 1000

In [40]:
numbers

[1000,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 13,
 23,
 34,
 34,
 56,
 56,
 67,
 78,
 347,
 5456,
 5467]

## 1.6 Dictionary

In [41]:
my_dict = {'name': 'Kcpk', 'age': 23}

In [42]:
my_dict

{'name': 'Kcpk', 'age': 23}

In [43]:
my_dict.values()

dict_values(['Kcpk', 23])

In [44]:
my_dict.keys()

dict_keys(['name', 'age'])

In [45]:
my_dict.items()

dict_items([('name', 'Kcpk'), ('age', 23)])

In [47]:
my_dict['height'] = 1.65

In [48]:
my_dict

{'name': 'Kcpk', 'age': 23, 'height': 1.65}

In [49]:
my_dict.update({'height': 1.67})

In [50]:
my_dict

{'name': 'Kcpk', 'age': 23, 'height': 1.67}

In [51]:
new_dict = my_dict.copy()

In [52]:
new_dict

{'name': 'Kcpk', 'age': 23, 'height': 1.67}

In [53]:
my_dict.pop('name')

'Kcpk'

In [54]:
my_dict

{'age': 23, 'height': 1.67}

In [55]:
del my_dict['height']

In [56]:
my_dict

{'age': 23}

In [57]:
my_dict.clear()

In [58]:
my_dict

{}

## for loop

In [59]:
for i, country in enumerate(countries):
    print(i, country)

0 Uganda
1 India
2 Japan
3 China
4 Brazil
5 Argentina

In [60]:
for key, value in new_dict.items():
    print(key, value)

name Kcpk
age 23
height 1.67

##  Built-in functions

In [66]:
max(numbers)

5467

In [67]:
min(numbers)

2

In [65]:
len("Hello world")

11

## Modules

### OS Modules

In [72]:
import os

In [74]:
os.getcwd() #get current directory

'C:\\Users\\kcpra\\Python for Data Science'

In [76]:
os.listdir() #list directory

['.ipynb_checkpoints', 'Untitled.ipynb']

In [82]:
os.makedirs("New Folders")

In [83]:
os.listdir()

['.ipynb_checkpoints', 'New Folders', 'Untitled.ipynb']

In [84]:
os.removedirs('New Folders')